{% extends 'base.html' %}

{% block head %}
<title>Creating note</title>
{% endblock %}

{% block body %}

<div class="box">
<nav>
    <div class="nav-left">
        <img id="nav-icon" src="{{ url_for('static', filename='favicon.svg') }}">
        <a id="nav-title" class="nav-text" href="/">Light Notes</a>
        <span class="nav-text">| {{ current_user.login }}</span>
    </div>
    
    <div class="nav-right">
        <a id="nav-logout" href="/">Cancel</a>
    </div>
</nav>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div id="messages-feed">
    {% for m in messages %}
        <div class="message">
            <span>{{ m }}</span>
            <span class="message-close" onclick="this.parentElement.remove();">x</span>
        </div>
    {% endfor %}
    </div>
{% endif %}
{% endwith %}

<form id="create-form" method="POST" action="/create">
    <input id="create-title" type="text" name="title" placeholder="Title...">
    <textarea id="create-text" name="text" placeholder="Text..."></textarea>
    <button id="create-button">Create</button>
</form>
</div>

{% endblock %}