{% extends 'base.html' %}

{% block head %}
<title>Light Notes</title>
{% endblock %}

{% block body %}

<nav>
    <div class="nav-left">
        <img id="nav-icon" src="{{ url_for('static', filename='favicon.svg') }}">
        <a id="nav-title" class="nav-text" href="/">Light Notes</a>
        <span class="nav-text">| {{ current_user.login }}</span>
    </div>
    
    <div class="nav-right">
        <a id="nav-logout" href="/logout">Logout</a>
    </div>
</nav>

{% if notes | length > 0 %}
<div id="notes">
    {% for note in notes %}
    <div id="note-{{note.id}}" class="note-prev">
        <div class="note-info">
            <span class="note-prev-title" onclick="location.href = '/note/' + this.parentElement.parentElement.id.slice(5)">{{ note.title }}</span>
            <div class="date-row">
                <span class="note-prev-created">Created: {{ note.created.strftime("%X %x") }}</span>
                {% if note.edited %}
                <span class="note-prev-created">Edited: {{ note.edited.strftime("%X %x") }}</span>
                {% endif %}
            </div>
        </div>
        <span class="note-prev-delete">x</span>
    </div>
    
    {% if loop.index <= notes|length-1 %}
    <hr>
    {% endif %}

    {% endfor %}
</div>
{% else %}
<div id="notes">
    <div class="center-text">
        👀 There is no notes...
        <br>
        Go on, <a href="/create">create first one!</a>
    </div>
</div>
{% endif %}

<div id="floating-actions">
    <a id="floating-create" href="/create">✎</a>
</div>

{% endblock %}