{% extends 'base.html' %}

{% block body %}

<div class="center-screen">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages-feed">
        {% for m in messages %}
            <div class="message">
                <span>{{ m }}</span>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <form id="login-form" method="POST" action="/login">
        <div class="center-box">
            <span>👋 Hey, log in please</span>
            <input type="text" name="login" placeholder="Login">
            <input type="password" name="password" placeholder="Password">
            <button>Login</button>
            <a id="noacc-link" href="/signup">Does not have an account?</a>
        </div>
    </form>
</div>

{% endblock %}