{% extends 'base.html' %}

{% block body %}

<div class="center-screen">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages-feed">
        {% for m in messages %}
            <div class="message">
                <span>{{ m }}</span>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <form id="signup-form" method="POST" action="/signup">
        <div class="center-box">
            <span>🧒 Welcome, new user</span>
            <input type="text" name="login" placeholder="Login">
            <input type="password" name="password" placeholder="Password">
            <button>Signup</button>
            <a id="noacc-link" href="/login">Already have an account?</a>
        </div>
    </form>
</div>

{% endblock %}